# Temp files
.DS_Store
*.log

# Testing
.vscode/

# Dependencies
node_modules/

# NPM lock exclusion to remove ambiguity for what package manager is used;
# NPM is used for global linking purposes only
package-lock.json
